.btn-custom {
  color: #ffffff;
  background-color: #2b1700;
  border-color: #997950;
}

.btn-custom:hover {
  color: #ffffff;
  background-color: #815023b6;
  border-color: #3a1f04
}

.btn-custom:focus,
.btn-custom.focus {
  box-shadow: 0 0 0 .2rem #997950
}

.form-select {
  color: #000000;
  border-color: #997950;
  width: 100px;
}

.form-select-sm {
  color: #000000;
  border-color: #997950;
  width: 300px;
}

.form-select-sm:focus,
.form-select-sm.focus {
  box-shadow: 0 0 0 .2rem #997950
}

.form-control:focus,
.form-control.focus {
  box-shadow: 0 0 0 .2rem #997950
}

img {
  padding: 25px;
}
th{
  font-weight: normal;
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3a1f04 transparent #3a1f04 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#loader {
  width: 70%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #00000000;
  z-index: 1;
  visibility: hidden;
}

#loader.display{
  visibility: visible;
}